/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* root settings */

:root {
    --highlight-color: #0bceba;
    --bg-white: #fff;
    --bg-dark: #222;
    --bg-darker: #111;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.navbar-container{
    max-width: 1600px;
    padding: 0 80px;
    margin: auto;
}
.navbar.sticky{
    background: var(--bg-dark);
}
.navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: var(--bg-white);
    font-size: 30px;
    font-weight: 600;
}
.navbar .logo a:hover{
    color: var(--highlight-color);
    transition: all 0.3s ease;
}
.navbar .logo a span{
    color: var(--highlight-color);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: var(--highlight-color);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: var(--bg-white);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: var(--highlight-color);
}
.navbar.sticky .menu li a:hover{
    color: var(--highlight-color);
}

/* menu btn styling */
.menu-btn{
    color: var(--bg-white);
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 42px;
    width: 42px;
    background: var(--highlight-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--bg-white);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* background image styling */

.background-container{
    z-index: -1;
    position: fixed;
    background-image: url("img/header.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* home section styling */

.home{
    display: flex;
    color: var(--bg-white);
    height: 100vh;
    min-height: 500px;
    font-family: 'Poppins', sans-serif;
    padding: 100px 0;
}
.home .home-container{
    margin: auto 0 auto 80px;
    max-width: 1600px;
    padding: 0 80px;
}
.home .home-content .text-1{
    font-size: 40px;
}
.home .home-content .text-2{
    font-size: 80px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-1 span{
    color: var(--highlight-color);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    color: var(--bg-white);
    font-size: 40px;
    margin-top: 5px;
    margin-right: 20px;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: var(--highlight-color);
    background: none;
}

/* master section styling */

.master{
    padding: 100px 0;
    color:var(--bg-white);
    background: var(--bg-darker);
}
.master .master-container{
    margin: auto;
    max-width: 1600px;
    padding: 0 80px;
}
.master .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.master .title::before{
    background: var(--bg-white);
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    transform: translateX(-50%);
}
.master .title::after{
    color: var(--highlight-color);
    background: var(--bg-darker);
    content: "Projekte";
    position: absolute;
    bottom: -11px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    transform: translateX(-50%);
}
.master .carousel .card{
    background: var(--bg-dark);
    border-radius: 6px;
    padding: 25px 35px;
    height: 403px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.master .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.master .carousel .card:hover .box{
    transform: scale(1.05);
}
.master .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 7px 0;
}
.master .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--highlight-color);
    transition: all 0.3s ease;
}
.master .carousel .card .socials{
    padding: 11px;
    display: inline-block;
    color: var(--bg-white);
    text-decoration: none;
    font-size: 40px;
}
.master .carousel .card .socials a{
    padding: 5px;
}
.master .carousel .card .socials a:hover{
    color: var(--highlight-color);
    transition: all 0.3s ease;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--highlight-color)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active, .owl-dot:hover{
    background: var(--highlight-color)!important;
}

/* promo section styling */

.promo{
    padding: 100px 0;
    color:var(--bg-white);
    background: var(--bg-darker);
}
.promo .promo-container{
    margin: auto;
    max-width: 1600px;
    padding: 0 80px;
}
.promo .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.promo .title::before{
    background: var(--bg-white);
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    transform: translateX(-50%);
}
.promo .title::after{
    color: var(--highlight-color);
    background: var(--bg-darker);
    content: "79 Fam";
    position: absolute;
    bottom: -11px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    transform: translateX(-50%);
}

/* footer section styling */
footer{
    background: var(--bg-darker);
    padding: 15px 23px;
    color: var(--bg-white);
    text-align: center;
}
footer span a{
    color: var(--highlight-color);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1300px) {
    .home .home-container{
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .navbar .navbar-container{
        padding: 0 50px;
    }
    .home .home-container{
        padding: 0 50px;
    }
    .master .master-container{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--bg-darker);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-1{
        font-size: 35px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content a{
        font-size: 40px;
    }
    .navbar .navbar-container{
        max-width: 930px;
    }
    .home .home-container{
        max-width: 930px;
    }
    .master .master-container{
        max-width: 930px;
    }
}

@media (max-width: 870px) {
    .home .home-container{
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .navbar .navbar-container{
        padding: 0 23px;
    }
    .home .home-container{
        padding: 0 23px;
    }
    .home .home-content .text-1{
        font-size: 32px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content a{
        font-size: 35px;
    }
    .master .master-container{
        padding: 0 23px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-1{
        font-size: 27px;
    }
    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content a{
        font-size: 30px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
